/* CSS declarations go here */
body {
    font-family: 'Cardo', serif;
    background-color: #38585c;
    /*background-image: url("md_bg.jpg");*/
}


/* NAV BAR */

ul li a span {
	color: #FFFF50;
	font-family: 'Unica One', sans-serif;
	font-size: 17px;
}

.nav ul li: hover {
	background-color: #38585c;
}

div.navbar ul.nav a:hover {
    background-color: #38585c !important; 
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: yellow;
    opacity: 1;
    width: 7px;
    height: 7px;
    margin: -3.5px 0 0 -3.5px;
    opacity: 0.8;
}

#fp-nav {
	z-index: 500;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 15px;
    height: 15px;
    margin: -8px 0 0 -8px;
    color: #FFFF50;
    box-sizing: border-box;
}

/* ARTICLES */

article h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Unica One', sans-serif;
}

article h4 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 28px;
    z-index: 400;
}

article h6 {
    color: #000;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

/* PARTICLES */

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    animation: appear 1.4s ease 0s normal forwards 1 running;
    opacity: 1;
    transform: scale(1);
    z-index: 400;
    /*background-image: url("md_bg.jpg");*/
}


/* FULLPAGE */

#fullpage.not-visible {
    display: none;
}

#fullpage .container {
    padding: 10px 0 90px;
}

#fp-nav {
    z-index: 400;
}

#fp-nav ul li a span {
    background-color: #FFFF50;
}

#fp-nav ul li a.active span {
    background-color: #FFFF50;
}

#fp-nav ul li:hover a.active span {
    background-color: #FFFF50;
}

.slimScrollBar {
    display: none !important;
}


/* SECTIONS ANIMATION */

#hello-page, #work-page, #contact-page {
    padding: 0 10px;
    /*border: 2px solid green;*/
    /*margin-top: -75%;*/
}

#hello-page article {
    opacity: 0;
}

#hello-page article:first-child {
    transform: translate(0, -15px);
    opacity: 1;
}

#hello-page article:nth-child(2),
#hello-page article:nth-child(3) {
    transform: translate(0, 15px);
}

#hello-page article.viewable {
    transform: translate(0, 0);
    opacity: 1;
    z-index: 400;
}

#hello-page article:first-child.viewable {
    transition: all .4s ease-in-out 0s;
}

#hello-page article:nth-child(2).viewable {
    transition: all .5s ease-in-out 0s;
}

#hello-page article:nth-child(3).viewable {
    transition: all .5s ease-in-out .3s;
}

#hello-page article p .line-through::after {
    height: 8px;
    top: calc(50% - 2px);
    background-color: #16222a;
}

/* 	EXPERIENCE PAGE  */

#experience-page article:first-child {
    transform: translate(0, -15px);
}

#experience-page article {
    opacity: 0;
}

#experience-page article:nth-child(2) {
    transform: translate(0, -15px);
}

#experience-page article:nth-child(3) {
    transform: translate(10px, 0);
}

#experience-page article:nth-child(4) {
    transform: translate(0, 10px);
}

#experience-page article.viewable {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 400;
}

#experience-page article.viewable:first-child {
    transition: all .4s ease-in-out 0s;
}

#experience-page article:nth-child(2),
#experience-page article:nth-child(3),
#experience-page article:nth-child(4) {
    transition: all .5s ease-in-out .3s;
}


#contact-page article:first-child {
    transform: translate(0, -15px);
}

#contact-page article:nth-child(2) {
    transform: translate(0, 10px);
}

#contact-page article:nth-child(3) {
    transform: translate(10px, 0);
}

#contact-page article.viewable {
    transform: translate(0, 0);
    opacity: 1;
    z-index: 400;
}

#contact-page article:first-child.viewable {
    transition: all .4s ease-in-out 0s;
}

#contact-page article:nth-child(2).viewable,
#contact-page article:nth-child(3).viewable {
    transition: all .5s ease-in-out .3s;
}

#contact-page .social {
    text-align: center;
}

#contact-page a {
    width: 0;
    text-decoration: none;
    color: #25383C;
    font-size: 20px;
}

#contact-page a:hover {
	color: #FFFF50;
}

#contact-page .social a:hover {
    color: #FFFF50;
}

#contact-page .social a {
	color: #25383C;
	
}


/* BACKGROUNDS */

#bg, #bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
}

#bg {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 90;
}

#bg-mask {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.4) 100%) repeat;
    z-index: 100;
}

@media all and (max-width: 767px) {
    #bg {
        background-image: url(xs_bg.jpg);
    }
}

@media all and (min-width: 768px) and (max-width: 1499px) {
    #bg {
        background-image: url("elki.jpg");
    }
}

@media all and (min-width: 1500px) and (max-width: 2499px) {
    #bg {
        background-image: url("lg_bg.jpg");
    }
}

@media all and (min-width: 2500px) {
    #bg {
        background-image: url("lg_bg.jpg");
    }
}



/* ANIMATIONS */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
