<head>
  <title>Ria Parshina</title>
  <link href="https://fonts.googleapis.com/css?family=Cardo|Oswald|Unica+One|Josefin+Sans|Exo" rel="stylesheet" type="text/css">
  <script src="particles.js"></script>
</head>

<body>
 
<div id="bg"></div>
{{> particles}}
<div>{{> navpanel}}</div>

  <div id="fullpage"> 
  
  	<div class="section">{{> hello}}</div>
  	<div class="section">{{> experience}}</div>
  	<div class="section">{{> contact}}</div>
  </div>
</body>


<template name="particles">
	<div id="particles-js"></div>
</template>


<template name="navpanel">
	<nav class="navbar-fixed-top"> 
		<div class="container navbar">
                <ul class="nav nav-pills">
                    <li data-menuanchor="hello">
                        <a href="#hello"><span>hello</span></a>
                    </li>
                    
                    <li data-menuanchor="work">
                        <a href="#experience"><span>experience</span></a>
                    </li>
                    
                    <li data-menuanchor="contact">
                        <a href="#contact"><span>contact</span></a>
                    </li>
                </ul>
        </div>
    </nav>
</template>



<template name="hello">
 <!-- PARTICLES ARE HERE -->
	<section id="hello-page">
  				<div class="container">
                    <section class="row">
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h6>Hello_</h6>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h2>My name is Maria.</h2>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h4>I live in Turku and have fun studying Software Engineering in Turku University of Applied sciences.
                            When I am not coding I enjoy reading about UI and UX design, learn languages,
                            do long-distance running, yoga and go to the gym. 
                            </h4>
                        </article>
                    </section>
                </div>
    </section>
</template>


<template name="experience">
  <div class="container">
                    <section class="row" id="experience-page">
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h6>Experience_</h6>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h2 class="special">
                                During my 2 years of studying
                                I've cut my teeth on a range of programming, starting from HTML, CSS, JavaScript, through
                                Meteor JS, Django, SQL, ending on C.
                            </h2>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h4>
                                Originally I started with Python.
                                 I went through
                                 a number of web related technologies, such as Meteor framework for building WEB-apps on Java Script.
                                 I am passionate about learning new tools and using them to create enjoyable websites and services.
                                <br>
                                Currently exploring: iOS development, UI/UX design
                            </h4>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h4>
								
                            </h4>
                        </article>
                    </section>
                </div>
</template>


<template name="contact">
  <div class="container">
                    <section class="contact row" id="contact-page">
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h6>Contact_</h6>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h2 class="special">In case you have a project that you would like me to get involved in
                                                or you just want to chat about something - drop me a line</h2>
                            <h2>Just shoot me a good old e-mail.</h2>
                        </article>
                        <article class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 animated">
                            <h4 class="special">I am available for freelancing.<br/> You can download my CV
                            <a target="_blank" href="http://marikaparshina.meteor.com/Curriculum_Vitae.pdf">here.</a></h4>
                            <h4 class="social special">
                                <a href="mailto:parshina.ria@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/maria-parshina-a4a564109"><i class="fa fa-linkedin fa-2x"></i></a>
                                <a target="_blank" href="https://bitbucket.org/RiaParshina"><i class="fa fa-bitbucket fa-2x"></i></a>
                            </h4>
                        </article>
                    </section>
                </div>
</template>



